{% extends "base.html" %}
{% block title %}Work Hours Tracker{% endblock %}
{% block content %}

<form action="/submit_hours" method="POST">
    <table class="table work-hours-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Hours Worked</th>
                <th>Description</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" name="date" id="date" placeholder="YYYY-MM-DD" required></td>
                <td><input type="number" class="form-control" name="hours" id="hours" placeholder="0.0" required step="0.1"></td>
                <td>
                    <select class="form-control" name="description" id="description" required>
                        <option value="" disabled selected>Select Description</option>
                        <option value="lab session">Lab Session</option>
                        <option value="preparation">Preparation</option>
                        <option value="meeting">Meeting</option>
                    </select>
                </td>
                <td><button type="submit" class="btn btn-primary work-hours-table-button">Track</button></td> 
            </tr>
        </tbody>
    </table>
</form>


<table class="table work-hours-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Hours Worked</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for work_hour in work_hours %}
        <tr>
            <td>{{ work_hour.date }}</td>
            <td>{{ work_hour.hours }}</td>
            <td>{{ work_hour.description }}</td>
            <td><button type="delete" class="btn btn-danger work-hours-table-button">Delete</button></td> 
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No hours logged yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
